* {
  scrollbar-width: thin;
  scrollbar-color: #6f013f #f3e8f3;
}


.main-layout {
  background-color: #ffff;
}

html,
body {
  font-family: var(--font-tajawal), sans-serif;
}

.linear {
  background-image: linear-gradient(to right bottom, #6D003E, #D40078) !important;
}